# This is Git's per-user configuration file.
[user]
  name = Nirmal Mekala
  email = nirmal@meka.la
[core]
	editor = nvim
[init]
	defaultBranch = main
[push]
	default = current
[pull]
  rebase = false

[includeIf "gitdir:~/code/clockwork/bitbucket/"]
  path = ~/ghq/bitbucket.org/clockworkers/.gitconfig

[includeIf "gitdir:~/ghq/bitbucket.org/clockworkers/"]
  path = ~/ghq/bitbucket.org/clockworkers/.gitconfig
